<div class="mat-app-background vote">

  <div class="vote-booth">
    <div class="issue">
      <h4 class="user-story">Bro-199</h4>
      <p>


        <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
        Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel
        maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus
        comedat
        cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere
        carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
      </p>
      <p>
        Cum horribilem resurgere de sepulcris creaturis, sicut de iride et serpens. Pestilentia, ipsa screams.
        Pestilentia
        est haec ambulabat mortuos. Sicut malus voodoo. Aenean a dolor vulnerum aperire accedunt, mortui iam vivam. Qui
        tardius moveri, sed in magna copia sint terribiles legionis. Alii missing oculis aliorum sicut serpere crabs
        nostram. Putridi odores aere implent.
      </p>
      <p>
        Tremor est vivos magna. Expansis ulnis video missing carnem armis caeruleum in locis. A morbo amarus in auras.
        Nihil horum sagittis tincidunt, gelida portenta. The unleashed virus est, et iam mortui ambulabunt super terram.
        Souless mortuum oculos attonitos back zombies. An hoc incipere Clairvius Narcisse, an ante? Is bello mundi z?
      </p>
    </div>
    <div class="comments">

      <mat-icon aria-hidden="false" aria-label="Example home icon">speaker_notes</mat-icon>
      <span class="comments-heading"> Comments</span>
      <ul>
        <li>comment one</li>
        <li>comment two</li>
        <li>comment three</li>
        <li>comment four</li>
      </ul>
    </div>

  </div>
  <div class="vote-actions">
    <div class="information">
      <div class="vote-button">
        <div class="button-text">
          Vote
        </div>
      </div>
      <div class="epic-button">
        <div class="button-text">
          Communication Center
        </div>
      </div>
      <div class="reporter-button">
        <div class="button-text">
          Reporter
        </div>
      </div>

      <div class="last-five">
        <div class="last-five-vote">5 </div>
        <div class="last-five-key user-story">
          <span class="user-story">Bro-100
            <mat-icon aria-hidden="false" aria-label="Example home icon">turned_in</mat-icon>
          </span>
        </div>
      </div>
      <div class="last-five">
        <div class="last-five-vote">5 </div>
        <div class="last-five-key user-story">
          <span class="user-story">Bro-100
            <mat-icon class="user-story" aria-hidden="false" aria-label="Example home icon">turned_in</mat-icon>
          </span>
        </div>
      </div>
      <div class="last-five">
        <div class="last-five-vote">5 </div>
        <div class="last-five-key">
          <span class="user-story">Bro-100
            <mat-icon class="user-story" aria-hidden="false" aria-label="Example home icon">turned_in</mat-icon>
          </span>
        </div>
      </div>
      <div class="last-five">
        <div class="last-five-vote">5 </div>
        <div class="last-five-key">
          <span class="bug">
            Bro-100
            <mat-icon aria-hidden="false" aria-label="Example home icon">bug_report</mat-icon>
          </span>
        </div>
      </div>
      <div class="last-five">
        <div class="last-five-vote">5 </div>
        <div class="last-five-key user-story">
          <span class="user-story">Bro-100
            <mat-icon aria-hidden="false" aria-label="Example home icon">turned_in</mat-icon>
          </span>
        </div>
      </div>
    </div>
    <!-- end information -->
    <div class="players">
      <div class="details">
        <span class="user-vote">?</span>
        <span class="user-name">MReid</span>
      </div>
      <div class="details">
        <span class="user-vote">5</span>
        <span class="user-name">SHoff</span>
      </div>
      <div class="details">
        <span class="user-vote">5</span>
        <span class="user-name">BCranston</span>
      </div>
      <div class="details">
        <span class="user-vote">5</span>
        <span class="user-name">AWhittle</span>
      </div>
      <div class="details">
        <span class="user-vote">5</span>
        <span class="user-name">JSmith</span>
      </div>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>