// Imports for Angular Material Theming
@import "~@angular/material/theming";

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn); // Or mat-dark-theme

@include angular-material-theme($theme);
